{%extends 'base.html'%}

{% block conteudo %}


<h2 style="text-align: center;">Adicionar Novo Ramal</h2>


<br>


<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="alert alert-success">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->



<form action="{{url_for('cria_ramal')}}" method="POST" class="form-control" required >
    <label>Nome</label>
    <input class="form-control" type="text", name="nome" placeholder="Nome do Colaborador" required >
    <label>Departamento</label>
    <input class="form-control" type="text", name="departamento" placeholder="Departamento" required>
    <label>Ramal</label>
    <input class="form-control" type="text", name="ramal" placeholder="Digite o ramal" required>
    <label>Loja</label>
    <input class="form-control" type="text", name="loja" placeholder="Digite a sua loja" required>

    <button class="btn btn-primary">Adicionar</button>


</form>



{%endblock conteudo%}