{%extends 'baseadmin.html'%}

{% block conteudo %}

<br>
<h1 style = 'text-align: center;' class="display-6">Ramais</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="alert alert-success">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<br>
<table class="table table-bordered table-hover">
    <thead class="table-default">
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Departamento</th>
          <th scope="col">Ramal</th>
          <th scope="col">Revenda</th>
          <!-- <th scope="col">Ativo</th> -->
          <th scope="col-1">Ações</th>
          <th scope="col-1"></th>
          

          
    </thead>
    <tbody>
    {% for r in ramal.items%}
    <tr>
        <td>{{r.nome}}</td>
        <td>{{r.departamento}}</td>
        <td>{{r.ramal}}</td>
        <td>{{r.loja}}</td>
        <td><a href="{{r.id}}/atualiza_ramal" class="btn btn-secondary ">Editar</a></td>
        <td><a href="{{r.id}}/remove_ramal" onclick= "return confirm ('Deseja excluir esse registro?') " class="btn btn-danger">Excluir</a></td>
        
        
    
    </tr>

    {%endfor%}
    </tbody>
</table>


<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('lista_ramaisauth', page=ramal.prev_num) }}"
       class="btn btn-primary
       {% if ramal.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in ramal.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if ramal.page == page_num %}
            <a href="{{ url_for('lista_ramaisauth', page=page_num) }}"
               class="btn btn-primary">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('lista_ramaisauth', page=page_num) }}"
               class="btn btn-primary">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('lista_ramaisauth', page=ramal.next_num) }}"
       class="btn btn-primary 
       {% if ramal.page == ramal.pages %}disabled{% endif %}">
        &raquo;
    </a>
    <a href="{{url_for('cria_ramal')}}" class="btn btn-primary">Novo</a>
</div>
<p class="text-right mt-3">
   Mostrando página {{ ramal.page }} de {{ ramal.pages }}
</p>



{% endblock conteudo %}