{%extends 'base.html'%}

{% block conteudo %}


<h1 style="text-align: center;">Ramais</h1>

<br>

<a href="{{url_for('cria_ramal')}}" class="btn btn-primary">Adicionar Ramal</a>

<br><br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Departamento</th>
          <th scope="col">Ramal</th>
          <th scope="col">Loja</th>
          <!-- <th scope="col">Ativo</th> -->
          <th scope="col-1">Ações</th>
          <th scope="col-1"></th>
          <th scope="col-1"></th>

          
    </thead>
    <tbody>
    {% for user in users%}
    <tr>
        <td>{{user}}</td>
        
    
    </tr>

    {%endfor%}
    </tbody>
</table>



<div class="container">
    {{pagination.info}}
    {{pagination.links}}

</div>



{% endblock conteudo %}