{%extends 'base.html'%}

{% block conteudo %}


<h1 style="text-align: center;" class ="display-6">Ramais</h1>

<br><br>


<table class="table table-bordered table-hover">

  <thead class="table-default">

      <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Departamento</th>
          <th scope="col">Ramal</th>
          <th scope="col">Revenda</th> 
      
  </thead>

          {%for n in nome%}

      <tbody>
              <td>{{n.nome}}</td>
              <td>{{n.departamento}}</td>
              <td>{{n.ramal}}</td>
              <td>{{n.loja}}</td>
              <td> <a href="{{n.id}}/sugerir_ramal" class="btn btn-secondary">Sugerir</a>    </td>

      </tbody>

          {%endfor%}

      <tbody>
          
          {%for d in departamento%}


              <td>{{d.nome}}</td>
              <td>{{d.departamento}}</td>
              <td>{{d.ramal}}</td>
              <td>{{d.loja}}</td>
              <td> <a href="{{d.id}}/sugerir_ramal" class="btn btn-secondary">Sugerir</a>    </td>

      </tbody>

          {%endfor%}

      <tbody>
          
          {%for r in ramal%}
  
  
              <td>{{r.nome}}</td>
              <td>{{r.departamento}}</td>
              <td>{{r.ramal}}</td>
              <td>{{r.loja}}</td>
              <td> <a href="{{r.id}}/sugerir_ramal" class="btn btn-secondary">Sugerir</a>    </td>
  
      </tbody>
          {% endfor%}

      <tbody>

          {%for l in loja%}
  
  
              <td>{{l.nome}}</td>
              <td>{{l.departamento}}</td>
              <td>{{l.ramal}}</td>
              <td>{{l.loja}}</td>
              <td> <a href="{{l.id}}/sugerir_ramal" class="btn btn-secondary">Sugerir</a>    </td>
  
      </tbody>

          {%endfor%}
          
          

      </tr>
          
</table>








{% endblock conteudo %}